/* Navbar.module.css */

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    background-color: #18181b;
    color: white;
    font-weight: bold;
    position: sticky;
    border-bottom: 1px solid #272628;
    top: 0;
    z-index: 1000;
  }
  
  .navLinks {
    display: flex;
    margin: 0 0 0 50px;
    gap: 15px;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
  }
  
  .navLink:hover {
    background-color: #262628;
  }
  
  .navLink.active {
    background-color: #444;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logoutLink {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: #f73c3c;
  }
  
  .logoutLink:hover {
    background-color: #262628;
    padding: 10px 15px;
    border-radius: 10px;
  }
